{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pygments-style.css' %}">
{% endblock extra_css %}

{% load wagtailcore_tags %}
{% load wagtailmarkdown %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    <article>
    {{ self.body|markdown }}
    </article>

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}
